<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Espen fyller 50</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></head>
  <body style="background-color: #000;">
    <div id="espen50" class="hide">
      <h1>Espens 50-årsfest</h1>
      <div id="terminal">
        <div class="line">Laster inn...</div>
      </div>
      <img class="pcb" src="" />
    </div>
  </body>
</html>